*{
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas, Inconsolata,monaco, monospace;
    list-style-type: none;
}
html{
    background: url('../images/bg.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-size: 16px; /* Establishes 1rem = 16px */
}
body{
    background: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, p, li{
    padding: 0.625rem;
}

.hamMenuToggle {
    display: none;
}
.hamMenuLine{
    height: 0.13rem;
    width: 1.4rem;
    background-color: #E2E8F0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

header{
    display: flex; /* Make it a flex container */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:  #051022;
    position: fixed;
    width: 100%;
    height: 3.8rem;
    z-index: 1000;
}
header a {
    color: #E2E8F0;
    padding: 0.433rem 0.725rem;
    border-radius: 0.308rem;
    transition: background 0.3s;
    font-size: x-large;
    font-weight: bolder;
}

header a:hover {
    background-color: #555;
}
/*Rest of the main content*/
.scrollable_section {
    padding: 3.75rem 1.25rem 0.625rem; /* Adds spacing below the fixed menu */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large; /*change here*/
    font-weight:bolder;
    flex-wrap: wrap;
}
.contentTray{
    background-color: rgba(255, 255, 255, 0.58);
    min-height: 25rem;
    min-width: 80%;
    border-radius: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    color: black;
    flex-wrap: wrap;
}
.contentTrayTransparent{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
#homeContentTrayText{
    flex: 1.35;
    padding: 1.25rem;
}
#homeContentTrayImg{/*image inside img>contentTray>scrollableSection*/
    flex: 0.65;
    height: 17.5rem;
    width: 18.75rem;
}
/*Weather Module*/
.weatherContentTrayGrid {
    font-size: x-large;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(6, 0.8fr);
    gap: 1rem;
}
.grid-item {
    padding: 1rem;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.875rem;
}
.grid-item.item2 {
    grid-column: 3;
}

    /* Make Item 3 span across all columns */
.grid-item.item3 {
    /* font-size: clamp(4rem, 8rem, 10rem); */
    font-size: 10rem;
    grid-column: 1 /-1;
    grid-row: span 3;

}
.smallCards:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    filter: invert(1);
    background-color: white;
}

/*skill section*/
#skillsContentTray h2{
    margin: 1.25rem;
}
.skillCard{
    display: flex;
    margin: 1.25rem;
    justify-content: center;
    align-items: center;
    height: 21rem;
    width: 15rem;
    background-color: black;
    color: white;
    font-size: x-large;
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 0.875rem;
}
.skillCardWhiteCard{
    background-color: white;
    color: black;
}
.skillCard:hover{
    transform: scale(1.1); /* Enlarge the element on hover */
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); /* Add a box shadow on hover for a raised effect */
}
/*footer*/
footer {
    padding: 1.25rem;
    background-color: black;
    color: white;
    font-size:x-large; /*change here*/
    font-weight:bolder;
}


/*experimental*/
@media (max-width: 768px) {
    .overlay {
        position: fixed;
        top: 3.8rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        backdrop-filter: blur(0px);
        transition: opacity 0.5s ease,background-filter 0.5s ease;
        z-index: 0;
    }

    .overlay.visible {
        opacity: 1;
        visibility: visible;
        backdrop-filter: blur(4px);
        z-index: 1; /* Place it behind the dropdown menu */
    }

    .hamMenuToggle {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        height: 1.4rem;
        width: 1.4rem;
        padding: 0;
    }

    #titleBarButtons {/*change here: 11/25/2024*/
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3.8rem;
        right: 0;
        z-index: 2;
        height: 0;
        width: 100%;
        background: #1A202C;
        color: #E2E8F0;
        /*change here*/
        border-radius: 0.313rem;
        padding: 0.625rem;
        overflow: hidden;
        transition: height 0.7s ease, visibility 0s linear 0.7s; /* Smooth transitions */
    }

    #titleBarButtons.visible {
        visibility: visible;
        display: flex;
        height:19rem; /* Set your desired height */
        transition: height 0.7s ease, visibility 0s;
    }
    .hamMenuToggle.active .hamMenuLine:nth-child(1) { transform: translate(0, 0.65rem) rotate(45deg); }
    .hamMenuToggle.active .hamMenuLine:nth-child(2) { opacity: 0; }
    .hamMenuToggle.active .hamMenuLine:nth-child(3) { transform: translate(0, -0.65rem) rotate(-45deg); }

    .contentTray {
        width: 90%; /* Make the content containers smaller */
        height: auto; /* Let the height adjust automatically */
        padding: 0.625rem;
    }

    #homeContentTrayImg {
        height: 12.5rem;
        width: 13.75rem;
    }
    /*weather module*/
    .weatherContentTrayGrid {
        grid-template-columns: 1fr 1fr; /* 2 columns in portrait */
        grid-template-rows:repeat(7, 0.8fr);
    }
    .grid-item.item1{
        grid-column:1
    }
    .grid-item.item2{
        grid-column:2;
    }
    .smallCards:nth-child(even){
        grid-column:1;
    }
    .smallCards:nth-child(odd){
        grid-column:2;
    }
    .grid-item.item3{
        font-size: 8rem;
    }
    /*weather module*/

    .skillCard {
        height: 12.5rem;
        width: 9.375rem;
        font-size: medium;
    }

    footer {
        font-size: medium;
    }

    .buttons {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    header a {
        font-size: medium; /* Reduce button font size */
        padding: 0.313rem 0.625rem;
    }

    .scrollable_section {
        font-size: large;
    }
    /*weather module*/
    .weatherContentTrayGrid {
        grid-template-columns: 1fr; /* 2 columns in portrait */
        grid-template-rows:repeat(8, 0.4fr);
        gap: 0.5rem;
        font-size: large;
    }
    .smallCards:nth-child(odd){
        grid-column:1;
    }

    .grid-item.item2{
        grid-column:1;
    }
    .grid-item.item3{
        font-size: 4rem;
    }
    .smallCards:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        filter: none;
        background-color: initial;
    }
    /*weather module*/

    footer a {
        font-size: medium;
    }

    .contacts {
        font-size: large;
    }
}
